<% layout('layouts/boilerplate') %>

<div class="row p-4">
  <div class="col-md-8 offset-md-2">
    <div class="card" style="height: auto; width: 100%;">
      <img src="<%= photo.image.url %>" class="card-img-top" alt="<%= photo.title %>" style="max-height: 20rem; object-fit: cover;">

      <div class="card-body p-4">
        <h3 class="card-title"><%= photo.title %></h3>
        <p class="card-text">
          <small class="text-muted">Uploaded by: <b><%= photo.uploadedBy.username %></b></small>
        </p>

        <% if (currentUser && photo.uploadedBy.equals(currentUser._id)) { %>
          <div class="d-flex gap-2">
            <a href="/photos/<%= photo._id %>/edit" class="btn btn-primary">Edit</a>
            <form action="/photos/<%= photo._id %>?_method=DELETE" method="POST" class="d-inline">
              <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this photo?')">
                Delete
              </button>
            </form>
          </div>
        <% } %>

        <a href="/photos" class="btn btn-secondary mt-3">Back to All Photos</a>
      </div>
    </div>
  </div>
</div>
